button{
    border-radius: 7px;
    height: 4vh;
   
}
body{
    background-color: rgb(41.2%, 41.2%, 41.2%);
}

.btn-primary{
    height: 7vh;
    margin-left: 32vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.btn-success{
    height: 7vh;
    margin-left: 18vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.title{
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 1vw;
}
.exchangeRate{
    text-align:center;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: 2px solid rgb(181, 171, 171);
    margin-left: 20vw;
    margin-right:20vw;
    
}
label{
    margin-left: 10vw;
    margin-right: 1vw;
    font-size: 3vh;
}
input{margin-left: 1vw;
}

@media (min-width: 768px){
    label{
        margin-left: 25vw;
    }
    .btn-primary{
        font-size: 3vh;  
        margin-left: 37vw;  
    }
    .btn-success{
        font-size: 3vh; 
        margin-left: 22vw;  
    }
    .exchangeRate{
        height: 5vh;
        font-size: 3vh;
    }
    .transactionName{
        margin-left: 5vw;
        font-size: 3vh;    
    }
    .euroAmount{
        font-size: 3vh;
        margin-left: 6vw;
}
    .euroLabel{
        margin-right:15vw;
    }
    .calculateButton{
        font-size: 2.5vh;
        width: 16vw;
        margin-left: 43vw;
    }
    .transactionItem{
        margin-right: 21vw;
        margin-left: 23vw;
    }
    .removeButton{
        width:6vw;
        font-size:2.5vh;
    }
    .zlotysAmount{
        margin-left: 31vw;
        font-size:3vh;
    }
    .submitButton{
        font-size: 2.5vh; 
        margin-left: 36vw;
    }
    .transactionItem{
        font-size: 2vh;
    }
    .biggestTransaction{
        font-size: 2vh;
    }
    .sumTransaction{
        font-size: 2vh;
    }
}


@media (min-width: 1024px){
    .title{
        font-size: 4vw;
        font-weight: bold;
    }
    .inputName{
        margin-left: 16vw;
    } 
    .euroLabel{
        margin-left: 0;
    }
    .btn-primary{
        font-size: 3vh;
        margin-left: 45vw;
    }
    .btn-success{
        font-size: 3vh;
        margin-left: 39vw;

    }
    .exchangeRate{
        height: 5vh;
        font-size: 3vh;
    }
    .transactionName{
        margin-left: 14vw;
    }
    .zlotysAmount{
        margin-left:44vw;
    }
    .removeButton{
        font-size:2.5vh;
        margin-right: -25vw;
    }
    li.transactionItem{
        font-size: 3vh;
        margin-left: 20vw;
        margin-right: 20vw;
    }
    .biggestTransaction{
        font-size: 3vh;
    }
    .sumTransaction{
        font-size: 3vh;
    }


}


@media (min-width: 1440px){
        label{
            margin-left: 3vw;
        }
        .euroLabel{
            margin-left: 0vw;
        }
        .exchangeRate{
            height: 5vh;
            font-size: 3vh;
        }
        .btn-primary{
            font-size: 3vh;
            margin-left: 44vw;
        }
        .btn-success{
            font-size: 3vh;
            margin-left: 38vw;
        }
        .zlotysAmount{
            margin-left:40vw;
        }
}
    @media (min-width: 2560px){
        .inputName{
            margin-left: 4vw;
        }
        .euroLabel{
            margin-right: 0;
            margin-left: 0;
        }
        .btn-success{
            margin-left: 36vw;
        }
        .btn-primary{
            margin-left: 43vw;
        }
        .transactionItem{
            margin-left: 18vw;
            margin-right: auto;
         }
}

.transactionName{
    font-size: 2vh;
    margin-left:6vw;
    
}
@media(min-width: 480px){
    .transactionName{
    margin-left: 10vw;
}}
@media(min-width:600px){
    .transactionName{
        margin-left: 12vw;
}}

@media(min-width: 800px){
    .transactionName{
        margin-left: 8vw;
    }
}
@media(min-width: 900px){
    .transactionName{
        margin-left: 13vw;
    }
}


.transactionNameInput{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.euroAmount{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 10vw;
}

.transactionEuroAmount{
   margin-top: 1vh;
   margin-bottom: 1vh;
   margin-left: 1vw;
}
.calculateButton{
    border: 2px solid rgb(181, 171, 171);
    margin-left: 37vw;
    margin-bottom: 2vh;
    font-size: 2vh;
    width: 24vw;
}

.zlotysAmountCalculated{
    margin-top: 2vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-align:center;
}
.submitButton{
    border: 2px solid rgb(181, 171, 171);
    margin-left: 30vw;
    margin-bottom:5vh;
    width: 37vw;
    font-size: 2vh;
    height:7vh;
    
}

/*Transaction Item*/
.removeButtonSpan{
   text-align: right;
    margin-right:0;
    margin-left:0;   
}
.removeButton{
    border: 2px solid rgb(181, 171, 171);
    margin-right:-20vw;
    margin-left:0;
    border-radius: 50%;
}
@media(min-width: 480px){
    .removeButton{
    font-size: 2vh;
    }}


.transactionItem{
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
}
@media(min-width:480px){
    .transactionItem{
        margin-left: 8vw;
        margin-right: 14vw;
    }
}


@media(min-width: 600px){
    .transactionItem{
    margin-left: 13vw;
    margin-right: 19vw;
}
    .removeButton{
    margin-right:-23vw;
    }
}

.transactionItemName{
    margin-left:3vw;
    padding-top: 0.5vh;

    
}
.transactionItemEuro{
    padding-left: 3vw;
   padding-top:0.5vh;
    
}

.transactionItemPln{
    padding-left: 6vw;
    margin-right: 0;
    padding-top: 0.5vh;
    
}
/*biggest Transactiom*/

.biggestTransaction{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.biggestTransactionName{
    font-weight: bold;
    text-align: center;
    margin-bottom:1vh;

}
.biggestTransactionAmount{
    font-weight: bold;
    text-align: center;
    margin-bottom:1vh;
}
/*Sum Transaction*/
.sumTransaction{
    text-align: center;
}

.sumTransactionPln{
font-weight: bold;
text-align: center;
margin-bottom:1vh;
}

.sumTransactionEuro{
    font-weight: bold;
    text-align: center;
    margin-bottom:1vh;
}

