.container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}
@media(min-width:400px){
  .container{
    display: flex;
    flex-direction: row;
  }
}
  @media(max-width:399px){
    .container{
      display: flex;
      flex-direction: column;
    }
  
  }